.header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

.header__sign-in {
  cursor: pointer;
}

.header__sign-in-link {
  text-decoration: none;
  color: black;
}
